@page "/Post/Create"

<h3>Create Post</h3>

<TelerikDropDownList Data=@myDdlData Title="Select a community" TextField="MyTextField" ValueField="MyValueField" @bind-Value="selectedValue" Width="400px" Class="mb-3"></TelerikDropDownList>

<TelerikTabStrip>
    <TabStripTab Title="Text">
        <TelerikTextArea Class="mb-3"></TelerikTextArea>
        <TelerikButton Class="mb-3">Add tags</TelerikButton>
        <TelerikEditor Class="mb-3" Height="200px"></TelerikEditor>
    </TabStripTab>
    <TabStripTab Title="Images & Video">
        <TelerikTextArea Class="mb-3"></TelerikTextArea>
        <TelerikButton Class="mb-3">Add tags</TelerikButton>
        <TelerikUpload Class="mb-3"></TelerikUpload>
    </TabStripTab>
    <TabStripTab Title="Link">
        <TelerikTextArea Class="mb-3"></TelerikTextArea>
        <TelerikButton Class="mb-3">Add tags</TelerikButton>
        <TelerikTextArea Class="mb-3"></TelerikTextArea>
    </TabStripTab>
    <TabStripTab Title="Poll" Disabled="true">
        <TelerikTextArea Class="mb-3"></TelerikTextArea>
    </TabStripTab>
</TelerikTabStrip>

@code {
    public class MyDdlModel
    {
        public int MyValueField { get; set; }
        public string MyTextField { get; set; }
    }

    int selectedValue { get; set; } = 3;

    IEnumerable<MyDdlModel> myDdlData = Enumerable.Range(1, 20).Select(x => new MyDdlModel { MyTextField = "item " + x, MyValueField = x });
}
